# Sample gitconfig
#

[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        helper = cache
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count   = !git shortlog -sn